#blogContentModal.modal.fade(tabindex='-1' aria-labelledby='newUserLabel' aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content

            .modal-body

                .mb-3
                    h2#title_blog
                    h5#subtitle_blog
                    p#date_blog
                .mb-3
                    #content_blog.w-100



            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar

