#pagarDespuesCOnfiModal.modal.fade(tabindex='-1' aria-labelledby='newUserLabel' aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content

            .modal-body

                .mb-3
                    h2 ¡Gracias!
                    div
                        p Su compra se ha generado como preventa. Recuerde que cuenta con 3 días para completar la compra; de lo contrario, la preventa será cancelada.
                        p Cuando esté listo para adjuntar su comprobante, puede dirigirse al siguiente enlace:
                    div.text-center
                        a#enlace_a_ Ir al enlace
                    div.text-center.my-3
                        input#enlace_.form-control(type="text")
                        button.my-2#copy_enlace.btn-primary.btn Copiar

                .mb-3




            .modal-footer
                button.btn.btn-secondary#return_(type='button' data-bs-dismiss='modal') Cerrar

