#confirmacionReciboModal.modal.fade(tabindex='-1', aria-labelledby='newUserLabel', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-body

                .mb-3
                    h2 ¡Gracias por tu pago!
                    div
                        p Hemos recibido tu comprobante de pago. El equipo de Fuego Mexicano revisará la información para asegurarse de que todo esté en orden.
                        p En caso de que haya algún problema, nos pondremos en contacto contigo.

                .mb-3

            .modal-footer
                a.btn.btn-secondary#return_(href="/") Cerrar
