doctype html
html(lang='es')
    head
        include templates/head
        include templates/styles
    body
        include templates/spinner
        main
            include templates/nav
            header.site-header.section-padding.d-flex.justify-content-center.align-items-center
                .container
                    .row
                        .col-12.header-info.text-center
                            h1.display-2.text-danger Finalizar compra
                            h5.text-white.fw-lighter(style="margin-top: 20px;")
                                | Adjunta tu comprobante de pago para continuar con tu compra.
                                br
                                | Agradecemos tu preferencia.
            seccion
                .container

                    div.my-4.py-2
                        h5.text-white.fw-lighter.py-3
                            | Detalle de la venta
                        .row
                            .col-12.col-md-8
                                div(style='overflow-y: auto; max-height: 600px;')
                                    .row#products_table

                            .col-12.col-md-4
                                .row
                                    .col-6
                                        p No.Productos
                                    .col-6
                                        p#no_products 2
                                .row
                                    .col-6
                                        p Envió
                                    .col-6
                                        p.text-success Gratis
                                .row
                                    .col-6
                                        p Total a pagar
                                    .col-6
                                        p#total 2
                                div.py-2
                                    h6.text-white.fw-lighter
                                        | Adjuntar archivo
                                    div
                                         input#img_payment.form-control.me-1(type='file')
                                         input#img_payment_save.form-control.me-1(type='text' style="display:none;")

                                    button.my-5.btn.btn-success#savePayment
                                        | Enviar comprobante




        div#template_products_check_.col-12.my-2(style="display:none;")
            .row
                .col-4.text-center
                    img#img_product_(style="max-height:180px;border-radius:10px;").img-fluid
                    div
                        p.my-2#name_product_
                        p.my-2#talla_
                        p $
                            span#price_unit_

                .col-4
                    .form-group(style='background-color: black;').text-center
                        label.text-danger(style='color: white;') Cantidad:
                        p.text-center.my-1#quantity_(type="text" style='background-color: black; color: white;')

                .col-4.text-center
                    label.text-danger(style='color: white;')  Total del producto:
                    p(style="font-size:30px;") $
                        span#total_product_

        include modals/confirmacionPagoModal
        include templates/footer
        include templates/scripts
        script.

            let ID = '!{id}';
        script(src=`/public/js/jsWeb/common.js?v=${Math.random()}`)
        script(src=`/public/js/jsWeb/checkout_payment.js?v=${Math.random()}`)