doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content)
    meta(name='author', content)
    title Tooplate's Little Fashion - FAQs Page
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap', rel='stylesheet')
    link(href='/public/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/css/bootstrap-icons.css', rel='stylesheet')
    link(rel='stylesheet', href='/public/css/slick.css')
    link(href='/public/css/tooplate-little-fashion.css', rel='stylesheet')
  body
    section.preloader
      .spinner
        span.sk-inner-circle
    main
      nav.navbar.navbar-expand-lg
        .container
          button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          |  
          a.navbar-brand(href='index ')
            strong
              span Little
              |  Fashion
          .d-lg-none
            a.bi-person.custom-icon.me-3(href='sign-in ')
            |  
            a.bi-bag.custom-icon(href='db_images-detail ')
          .collapse.navbar-collapse#navbarNav
            ul.navbar-nav.mx-auto
              li.nav-item
                a.nav-link(href='index ') Home
              li.nav-item
                a.nav-link(href='about ') Story
              li.nav-item
                a.nav-link(href='products ') Products
              li.nav-item
                a.nav-link.active(href='faq ') FAQs
              li.nav-item
                a.nav-link(href='contact ') Contact
            .d-none.d-lg-block
              a.bi-person.custom-icon.me-3(href='sign-in ')
              |  
              a.bi-bag.custom-icon(href='db_images-detail ')
      header.site-header.section-padding.d-flex.justify-content-center.align-items-center
        .container
          .row
            .col-lg-10.col-12
              h1
                span.d-block.text-primary Your favorite questions
                |  
                span.d-block.text-dark and our answers to them
      section.faq.section-padding
        .container
          .row
            .col-lg-8.col-12
              h2 General Info.
              .accordion#accordionGeneral
                .accordion-item
                  h2.accordion-header#headingOne
                    button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#accordionGeneralOne', aria-expanded='true', aria-controls='accordionGeneralOne') What is this Little Fashion?
                  #accordionGeneralOne.accordion-collapse.collapse(aria-labelledby='headingOne', data-bs-parent='#accordionGeneral')
                    .accordion-body
                      p.large-paragraph
                        strong Little Fashion
                        |  is free Bootstrap 5 website template for everyone. There are 8 HTML pages included in this template and you can expand more pages as you need.
                      p.large-paragraph Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .accordion-item
                  h2.accordion-header#headingTwo
                    button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#accordionGeneralTwo', aria-expanded='false', aria-controls='accordionGeneralTwo') What is Tooplate website?
                  #accordionGeneralTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionGeneral')
                    .accordion-body
                      p.large-paragraph
                        a(href='https://www.tooplate.com/free-templates', target='_blank') Tooplate
                        |  is a great website to download free HTML website templates for your business or personal use. Tooplate website has been online for almost 8 years now. Thank you for visiting our website.
                .accordion-item
                  h2.accordion-header#headingThree
                    button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#accordionGeneralThree', aria-expanded='false', aria-controls='accordionGeneralThree') How do I support your website?
                  #accordionGeneralThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionGeneral')
                    .accordion-body
                      p.large-paragraph You can support our Tooplate website by sharing it to your friends or colleagues on the web or social media.
              h2.mt-5
                | About 
                span our products
              .accordion#accordionProduct
                .accordion-item
                  h2.accordion-header#headingFour
                    button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#accordionProductOne', aria-expanded='true', aria-controls='accordionProductOne') What is Fashion Design?
                  #accordionProductOne.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionProduct')
                    .accordion-body
                      p.large-paragraph
                        strong Lorem ipsum dolor
                        |  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                      p.large-paragraph Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .accordion-item
                  h2.accordion-header#headingFive
                    button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#accordionProductTwo', aria-expanded='false', aria-controls='accordionProductTwo') How do I use the product?
                  #accordionProductTwo.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionProduct')
                    .accordion-body
                      p.large-paragraph Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
    footer.site-footer
      .container
        .row
          .col-lg-3.col-10.me-auto.mb-4
            h4.text-white.mb-3
              a(href='index ') Little
              |  Fashion
            p.copyright-text.text-muted.mt-lg-5.mb-4.mb-lg-0
              | Copyright © 2022 
              strong Little Fashion
            br
            p.copyright-text
              | Designed by 
              a(href='https://www.tooplate.com/', target='_blank') Tooplate
          .col-lg-5.col-8
            h5.text-white.mb-3 Sitemap
            ul.footer-menu.d-flex.flex-wrap
              li.footer-menu-item
                a.footer-menu-link(href='about ') Story
              li.footer-menu-item
                a.footer-menu-link(href='#') Products
              li.footer-menu-item
                a.footer-menu-link(href='#') Privacy policy
              li.footer-menu-item
                a.footer-menu-link(href='#') FAQs
              li.footer-menu-item
                a.footer-menu-link(href='#') Contact
          .col-lg-3.col-4
            h5.text-white.mb-3 Social
            ul.social-icon
              li
                a.social-icon-link.bi-youtube(href='#')
              li
                a.social-icon-link.bi-whatsapp(href='#')
              li
                a.social-icon-link.bi-instagram(href='#')
              li
                a.social-icon-link.bi-skype(href='#')
    script(src='/public/js/jquery.min.js')
    script(src='/public/js/bootstrap.bundle.min.js')
    script(src='/public/js/Headroom.js')
    script(src='/public/js/jQuery.headroom.js')
    script(src='/public/js/slick.min.js')
    script(src='/public/js/custom.js')