doctype html
html(lang='es')
    head
        include templates/head
        include templates/styles


    body
        include templates/spinner
        main
            include templates/nav
            include templates/slider
            include templates/acercaDe
            include templates/agenda
            include templates/congresos_


        include templates/footer
        include templates/scripts
        script(src=`/public/js/jsWeb/common.js?v=${Math.random()}`)
        script(src=`/public/js/jsWeb/home.js?v=${Math.random()}`)






