doctype html
html(lang='es')
    head
        include templates/head
        include templates/styles
        link(href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet")
        link(rel='stylesheet', href='/public/cdn/calendar_js/css/calendar.css')
        link(rel='stylesheet', href='/public/cdn/calendar_js/css/stylesheet.css')
        style.
            #calendar {
                max-width: 800px;
                margin: auto;
            }

            #events {
                max-width: 1000px;
                margin: auto;
            }


    body
        include templates/spinner
        main
            include templates/nav
            include templates/slider




            include templates/acercaDe
            div.py-4
                .row
                    .col-12.text-center
                        h2.text-white.mb-5
                            | Aviva
                            span.text-danger.mx-1 llamas

                .row
                    .col-12.col-md-12
                        .card-body
                            video#ddlv(loop controls style="width: 100%;" height="550" autoplay="true" type='video/mp4' src="/public/images/avivallamas.mp4")
            include templates/agenda2
            include templates/congresos_


        include templates/footer
        include templates/scripts
        script.
            let eventsByMonth = '!{eventsByMonth}'
        script(src=`/public/js/jsWeb/common.js?v=${Math.random()}`)
        script(src=`/public/js/jsWeb/home.js?v=${Math.random()}`)






