doctype html
html(lang='es')
    head
        include templates/head
        include templates/styles
    body
        include templates/spinner
        main
            include templates/nav
            header.site-header.section-padding-img.site-header-image
                .container
                    .row
                        .col-lg-6.col-12.header-info.text-center
                            h1.display-2
                                span.d-block.text-danger Invitaciones
                            span.slick-title
                                | Fuego
                                span.text-danger Mexicano
                            div
                                span.slick-title.fw-lighter(style="font-size:12px;")
                                    | Hector
                                    span.text-danger Andrade

                img.header-image.img-fluid(src='/public/images/fuego/fuego_7.jpg', alt)


            section.team.section-padding
                .container
                    p.text-center Por favor llena el siguiente formulario
                    .card.team
                        .card-body.team

                            div
                                .row
                                    .col-12.col-md-4
                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='nombre' style='color: white;') Nombre completo:
                                            input.form-control(type='text', id='nombre', name='nombre', required style='background-color: black; color: white;')

                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='responsabilidad' style='color: white;') Puesto o responsabilidad :
                                            input.form-control(type='text', id='responsabilidad', name='responsabilidad', required style='background-color: black; color: white;')

                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='ministerio' style='color: white;') Ministerio :
                                            input.form-control(type='text', id='ministerio', name='ministerio' style='background-color: black; color: white;')

                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='email' style='color: white;') Email de contacto :
                                            input.form-control(type='email', id='email', name='email', required style='background-color: black; color: white;')

                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='contacto' style='color: white;') Numero de contacto :
                                            input.form-control(type='tel', id='contacto', name='contacto', style='background-color: black; color: white;')

                                    .col-12.col-md-4
                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='nombre_evento' style='color: white;') Nombre del evento :
                                            input.form-control(type='text', id='nombre_evento', name='nombre_evento', required style='background-color: black; color: white;')

                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='lugar_evento' style='color: white;') Lugar del evento :
                                            input.form-control(type='text', id='lugar_evento', name='lugar_evento', required style='background-color: black; color: white;')

                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='fecha' style='color: white;') Fecha del evento :
                                            input.form-control(type='text', id='fecha', name='fecha', required style='background-color: black; color: white;')

                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='cantidad' style='color: white;') Numero de personas esperadas :
                                            input.form-control(type='number', id='cantidad', name='cantidad', min=0 style='background-color: black; color: white;')

                                        .form-group.my-2(style='background-color: black; padding: 10px;')
                                            label.text-danger.my-1(for='descripcion' style='color: white;') Hablanos del evento :
                                            textarea.form-control(id='descripcion', name='descripcion', rows='5', required style='background-color: black; color: white;')

                                        button.btn.custom-btn.w-100.my-3#sendInvitacion
                                            i.mx-2.bi.bi-send
                                            | Enviar invitación
                                    .col-12.col-md-4
                                        section
                                            .container.text-center
                                                .display-6(style="font-size:27px;").text-danger.my-3 Fechas
                                                    span.text-white Apartadas
                                                .display-6(style="font-size:23px;").text-danger.my-3
                                                    span#month_actual
                                                    span.text-white#year_actual
                                                div.my-4
                                                    .row#dates_


                                                div#tempalte_dates_.col-lg-4.col-md-6.col-12.my-3(style="display:none;")
                                                    h5.m-0.p-0.card-text.text-white.fw-bold(style="font-size:17px;")#date_event_

                                                    small.card-text.text-white(style="font-size:14px;")#date_location_






        include templates/footer
        include templates/scripts
        script(src=`/public/js/jsWeb/common.js?v=${Math.random()}`)
        script(src=`/public/js/jsWeb/invitaciones.js?v=${Math.random()}`)