doctype html
html(lang='es')
    head
        include templates/head
        include templates/styles


    body
        include templates/spinner
        main
            include templates/nav
            header.site-header.section-padding-img.site-header-image
                .container
                    .row
                        .col-lg-6.col-12.header-info.text-center
                            h1.display-2
                                span.d-block.text-danger Merch
                            span.slick-title
                                | Fuego
                                span.text-danger Mexicano
                            div
                                span.slick-title.fw-lighter(style="font-size:12px;")
                                    | Hector
                                    span.text-danger Andrade

                img.header-image.img-fluid(src='/public/images/fuego/logo_.png', alt)
            section.products
                .container
                    .row
                        .col-12
                            h2.mb-5 New Arrivals
                        .col-lg-4.col-12.mb-3
                            .product-thumb
                                a(href='product-detail ')
                                    img.img-fluid.product-image(src='/public/images/product/evan-mcdougall-qnh1odlqOmk-unsplash.jpeg', alt)
                                .product-top.d-flex
                                    span.product-alert.me-auto New Arrival
                                    |
                                    a.bi-heart-fill.product-icon(href='#')
                                .product-info.d-flex
                                    div
                                        h5.product-title.mb-0
                                            a.product-title-link(href='product-detail ') Tree pot
                                        p.product-p Original package design from house
                                    small.product-price.text-muted.ms-auto $25

        include templates/footer
        include templates/scripts
        script(src=`/public/js/jsWeb/merch.js?v=${Math.random()}`)