doctype html
html(lang='es')
    head
        include templates/head
        include templates/styles



    body
        include templates/spinner
        main
            include templates/nav
            header.site-header.section-padding-img.site-header-image
                .container
                    .row
                        .col-12.header-info.text-center
                            h1.display-2
                                span.d-block.text-danger Merch
                            span.slick-title
                                | Fuego
                                span.text-danger Mexicano
                            div
                                span.slick-title.fw-lighter(style="font-size:12px;")
                                    | Hector
                                    span.text-danger Andrade

                .text-center
                    img.img-fluid(src='/public/images/fuego/logo_.png' style="max-height:850px;")
            section.products
                .container
                    div.mb-5
                        h2.text-white Lista de productos
                        span.slick-title.fw-lighter(style="font-size:18px;")
                            i.mx-3.bi.bi-bag-check-fill
                            | TODO CON
                            span.text-danger  ENVIO GRATIS
                    .row#grid_products


            div#template_products_.col-md-4.col-12.mb-3(style="display:none;background:#000;")

                .product-thumb(style="border-radius:10px;background:#000;")
                    div.text-center.py-5
                        img#image_product_.img-fluid.product-image(style="max-height:450px;border-radius:10px;")

                    .product-top.d-flex
                        span.product-alert.me-auto#stock_aviable_(style="font-size:18px;").bg-transparent
                        |
                        //a.bi-heart-fill.product-icon(href='#')
                    div
                        .product-info.d-flex.text-center
                            div
                                h6.product-title.mb-1.text-white

                                    a.product-title-link.text-white(href='')#name_product_
                                p
                                    span.product-price.text-muted.ms-auto.my-3#price_product_

                                p.product-p#description_product_
                    div#viewPDF_.text-center.my-2
                        button#btnViewPreview_.verPreview.btn.custom-btn_store.product-p Vista Previa



                    div#select_talla_.text-center.my-2
                        p Tallas
                        p(style="font-size:15px;") Selecciona la talla de tu preferencia
                        .btn-group(role="group" aria-label="Tallas")
                            input.btn-check(type="radio" id="talla_CH_"  value="CH"  autocomplete="off")
                            label.btn.btn-outline-primary(for="talla_CH_") CH

                            input.btn-check(type="radio" id="talla_M_" value="M"   autocomplete="off")
                            label.btn.btn-outline-primary(for="talla_M_") M

                            input.btn-check(type="radio" id="talla_G_"  value="G"   autocomplete="off")
                            label.btn.btn-outline-primary(for="talla_G_") G
                    div
                        .row

                            .col-12
                                div.p-0.m-0
                                    .row
                                        .col-4
                                            button#remove_product_.remove_product.w-100.btn.custom-btn_store.product-p(type='button')
                                                i.mx-2.bi.bi-dash-circle(style="font-size")

                                        .col-4
                                            input#quantity_input_.form-control.w-100.text-center.quantity_input(type='number' min='1' value='1' style='width: 50px; margin-right: 10px; color: white; background-color: black;' oninput='this.value = Math.max(1, this.value)')

                                        .col-4
                                            button#add_product_.add_product.w-100.btn.custom-btn_store.product-p(type='button')
                                                i.mx-2.bi.bi-plus-circle

                                div.p-0.m-0
                                    button#add_cart_.my-2.add_cart.w-100.btn.custom-btn_store.product-p
                                        i.mx-2.bi.bi-cart-plus
                                        | Agregar al carrito
                                    button#shop_now_.shop_now.w-100.btn.custom-btn_store.product-p
                                        i.mx-2.bi.bi-cart-check-fill
                                        | Comprar ahora
                            .col-12










        include modals/pdfViewModal
        include templates/footer
        include templates/scripts
        script(src='/public/cdn/pdfjs-dist/build/pdf.mjs' type='module')

        script(src=`/public/js/jsWeb/common.js?v=${Math.random()}`)
        script(src=`/public/js/jsWeb/merch.js?v=${Math.random()}`)