doctype html
html(lang='es')
    head
        include templates/head
        include templates/styles


    body
        include templates/spinner
        main
            include templates/nav
            header.site-header.section-padding-img.site-header-image
                .container
                    .row
                        .col-lg-6.col-12.header-info.text-center
                            h1.display-2
                                span.d-block.text-danger Merch
                            span.slick-title
                                | Fuego
                                span.text-danger Mexicano
                            div
                                span.slick-title.fw-lighter(style="font-size:12px;")
                                    | Hector
                                    span.text-danger Andrade

                img.header-image.img-fluid(src='/public/images/fuego/logo_.png', alt)
            section.products
                .container
                    div.mb-5
                        h2.text-white Lista de productos
                        span.slick-title.fw-lighter(style="font-size:18px;")
                            i.mx-3.bi.bi-bag-check-fill
                            | TODO CON
                            span.text-danger  ENVIO GRATIS
                    .row#grid_products


            div#template_products_.col-md-4.col-12.mb-3(style="display:none;")

                .product-thumb(style="border-radius:10px;")
                    div.text-center
                        img#image_product_.img-fluid.product-image(style="max-height:360px;")

                    .product-top.d-flex
                        span.product-alert.me-auto#stock_aviable_(style="font-size:18px;").bg-transparent
                        |
                        //a.bi-heart-fill.product-icon(href='#')

                    .product-info.d-flex
                        div
                            h5.product-title.mb-0
                                a.product-title-link(href='')#name_product_
                            p.product-p#description_product_
                        small.product-price.text-muted.ms-auto#price_product_

                    div.p-0.m-0
                        .row
                            .col-4
                                button#remove_product_.remove_product.w-100.btn.custom-btn_store.product-p(type='button')
                                    i.mx-2.bi.bi-dash-circle(style="font-size")

                            .col-4
                                input#quantity_input_.form-control.w-100.text-center.quantity_input(type='number', min='1', value='1', style='width: 50px; margin-right: 10px;', oninput='this.value = Math.max(1, this.value)')

                            .col-4
                                button#add_product_.add_product.w-100.btn.custom-btn_store.product-p(type='button')
                                    i.mx-2.bi.bi-plus-circle

                    div.p-0.m-0
                        button#add_cart_.add_cart.w-100.btn.custom-btn_store.product-p
                            i.mx-2.bi.bi-cart-plus
                            | Agregar al carrito
                        button#shop_now_.shop_now.w-100.btn.custom-btn_store.product-p
                            i.mx-2.bi.bi-cart-check-fill
                            | Comprar ahora




        include templates/footer
        include templates/scripts
        script(src=`/public/js/jsWeb/common.js?v=${Math.random()}`)
        script(src=`/public/js/jsWeb/merch.js?v=${Math.random()}`)