/* Estilo del scrollbar vertical y horizontal */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #f5f5f5;
}

/* Estilo del thumb y track */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Estilo del scrollbar en hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo del scrollbar en active */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Estilo del scrollbar corner (esquina del scrollbar) */
::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
}



.form-control:focus {
    border-color: #dc3d45;
    box-shadow: 0 0 5px #dc3d45; /* Optional: Add a subtle box shadow for emphasis */
}
.quantity_input::-webkit-inner-spin-button,
.quantity_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity_input {
    -moz-appearance: textfield;
}


