section.about.section-padding
    .container
        .row
            .col-12.text-center
                h2.text-white.mb-5
                    | Algo
                    span.text-danger.mx-1 Sobre
                    | Nosotros
            .col-lg-2.col-12.mt-auto.mb-auto.text-center
                p(style="font-size:12px;")
                    cite.fw-lighter.text-white Pastores Hector y Paty Andrade

            .col-lg-10.col-12

                .row
                    .col-lg-6.col-12.text-center
                        img.img-fluid(src='/public/images/fuego/fuego_9.jpg', style="max-height:550px;border-radius:9px;")
                    .col-lg-6.col-12.my-4
                        .d-flex.flex-column.h-100.ms-lg-4.mt-lg-0.mt-5
                            h6.mb-3.text-white
                                | Estamos disfrutándonos como matrimonio, reímos mucho, nos encanta hacer Iglesia, predicar juntos.
                            p
                                | Tenemos tres hijos, estamos agradecidos con nuestro amado amado Jesús.
                            p
                                | Amamos a nuestro amigo el Hermoso Espíritu Santo.
                            p
                                | Pastoreamos una hermosa iglesia llena del Espíritu Santo, sin lugar a duda Dios ha sido muy bueno. Nuestro anhelo es un Avivamiento poderoso en México.

                            div
                                a.btn.custom-btn(href='/Blog') Conoce Más
