section.section-padding
    .row
        .col-12.text-center
            h2.text-white.mb-5
                | Agenda
                span.text-danger.mx-1#year_actual

    .container
        .row#months_agenda










div#template_months_.col-lg-4.col-md-6.col-12.my-3(style="display:none;")

    .card.d-flex.flex-column(style="height: 100%;background:#000;")
        .card-body(style="background:#000;")
            h5.my-3.display-6.text-center.card-title.text-danger#name_month_
            .row#dates_

div#tempalte_dates_.col-4.my-2(style="display:none;")
    p.m-0.p-0.card-text.text-white.fw-bold(style="font-size:17px;")#date_event_

    p.card-text.text-white(style="font-size:15px;")#date_location_


