section.section-padding
    .row
        .col-12.text-center
            h2.text-white.mb-5
                | Agenda
                span.text-danger.mx-1#year_actual

    #calendar

    h2 Ciudades a visitar:
    #events.row.py-5
