section.section-padding
    .row
        .col-12.text-center
            h2.text-white.mb-5
                | Próximos
                span.text-danger.mx-1 Congresos

    .container
        .row#congresos




div#template_congresos_.col-md-6.col-12.my-3(style="display:none;")

    .card.text-white(style="background:#000;")
        a#link_img_(target="_blank")
            img#img_congreso_.card-img-top(style="border-radius: 10px;")

        .card-body
            div.text-center
                h3#name_congreso_.card-title.text-danger Tributo al creador
                .text-light
                    .icon-text
                        span.icon
                            i.bi-calendar-fill
                        |
                        span.mx-2#dates_congreso_
                    .icon-text
                        span.icon
                            i.bi-clock-fill
                        |
                        span.mx-2#hour_congreso_
                    .icon-text.fw-lighter
                        span.icon
                            i.bi-geo-fill
                        |
                        span.mx-2#location_congreso_
                div.my-3
                    a#btn_congreso_.custom-btn.btn(target="_blank") Obtener entradas


