section.section-padding
    .row
        .col-12.text-center
            h2.mb-5.text-white
                | Próximos
                span.text-danger.mx-1 Congresos

    .container
        .row
            .col-6
                .card.text-white(style="background:#000;")
                    a(href="https://www.eventbrite.com.mx/e/tributo-al-creador-tickets-767694714557?aff=erelexpmlt" target="_blank")
                        img.card-img-top(src=`/public/images/fuego/tributo.jpg`, alt="Tributo al creador" style="border-radius: 10px;")
                    .card-body
                        div.text-center
                            h3.card-title.text-danger Tributo al creador

                            .text-light
                                .icon-text
                                    span.icon
                                        i.bi-calendar-fill
                                    |
                                    span.mx-2 18/ENE/2024 - 20/ENE/2024
                                .icon-text
                                    span.icon
                                        i.bi-clock-fill
                                    |
                                    span.mx-2  17:30
                                .icon-text.fw-lighter
                                    span.icon
                                        i.bi-geo-fill
                                    |
                                    span.mx-2  Cultura de Jesús Tulipanes, Pachuca, Hgo.
                            a.custom-btn.btn(href="https://www.eventbrite.com.mx/e/tributo-al-creador-tickets-767694714557?aff=erelexpmlt" target="_blank") Obtener entradas

            
            
            
            .col-6
                .card.text-white(style="background:#000;")
                    a(href="https://www.eventbrite.com.mx/e/hombres-de-guerra-tickets-766674663557?aff=erelexpmlt" target="_blank")
                        img.card-img-top(src=`/public/images/fuego/hombres.jpg`, alt="Hombres de guerra" style="border-radius: 10px;")
                    .card-body
                        div.text-center
                            h3.card-title.text-danger Hombres de guerra

                            .text-light
                                .icon-text
                                    span.icon
                                        i.bi-calendar-fill
                                    |
                                    span.mx-2 23/FEB/2024 - 24/FEB/2024
                                .icon-text
                                    span.icon
                                        i.bi-clock-fill
                                    |
                                    span.mx-2 17:00
                                .icon-text.fw-lighter
                                    span.icon
                                        i.bi-geo-fill
                                    |
                                    span.mx-2  Teatro Cedrus, Pachuca, Hgo.
                            a.custom-btn.btn(href="https://www.eventbrite.com.mx/e/hombres-de-guerra-tickets-766674663557?aff=erelexpmlt" target="_blank") Obtener entradas

            