footer.site-footer
    .container
        .row.text-center

            .col-lg-4.col-12
                .display-6.text-danger.my-3 Web
                    span.text-white Map

                div.my-4
                    ul.list-unstyled
                        li
                            a(href='/blog').text-white.mx-2 Blog
                        li
                            a(href='/invitaciones').text-white.mx-2 Invitaciones
                        li
                            a(href='/products').text-white.mx-2 Merch
                        li
                            a(href='https://linktr.ee/hectorandrade').text-white.mx-2 Redes





            .col-lg-4.col-12
                .display-6.text-danger.my-3 Redes
                    span.text-white Sociales
                div
                    h5.text-white.mb-3.fw-lighter @HectorAndrade
                    ul.social-icon
                        li
                            a.social-icon-link.bi-tiktok(href='https://www.tiktok.com/@hectorcultura' target="_blank")

                        li
                            a.social-icon-link.bi-instagram(href='https://www.instagram.com/hectorypattyandrade/' target="_blank")

                        li
                            a.social-icon-link.bi-facebook(href='https://www.facebook.com/hectandrade' target="_blank")
                        li
                            a.social-icon-link.bi-twitter-x(href='https://twitter.com/culturadejesus' target="_blank")
                        li
                            a.social-icon-link.bi-threads(href='https://www.threads.net/@hectorypattyandrade' target="_blank")
                div.my-3
                    h5.text-white.mb-3.fw-lighter @culturadejesus
                    ul.social-icon
                        li
                            a.social-icon-link.bi-youtube(href='https://www.youtube.com/@CulturadeJesusOficial' target="_blank")

                        li
                            a.social-icon-link.bi-instagram(href='https://www.instagram.com/culturadejesus/' target="_blank")

                        li
                            a.social-icon-link.bi-facebook(href='https://www.facebook.com/profile.php?id=100092443712277' target="_blank")
                        li
                            a.social-icon-link.bi-spotify(href='https://open.spotify.com/intl-es/artist/33t7WWtGUUwISzLD2PcKPr?si=DozPCXj-TD-zbwSycNl7yQ' target="_blank")
            .col-lg-4.col-12
                div
                    img.img-fluid(src='/public/images/fuego/logo.png', style="max-height:120px;")
                p.copyright-text.text-muted.mt-lg-5.mb-4.mb-lg-0
                    | Hector Andrade © 2024
                    strong.mx-2 Fuego Mexicano
                br
                p(style="font-size:11px").copyright-text
                    | Desarrollado por
                    a(href='https://mikerosasdev.com/', target='_blank').mx-2 Mike Rosas Dev

