meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
meta(name='description', content="Explorando el avivamiento en México y reflexionando sobre la importancia de valorar la unción única que Dios ha otorgado a nuestra nación.")
meta(name='author', content="Hector Andrade, Cultura de Jesus, Fuego Mexicano, Mike Rosas Dev")
title #{title}