nav.navbar.navbar-expand-lg.bg-dark
    .container
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        |
        a.navbar-brand(href='/')
            img(src="/public/images/fuego/logo.png" style="max-height:63px;").img-fluid
        .d-lg-none
            //a.bi-person.custom-icon.me-3(href='sign-in ')

            a.position-relative(href='/checkout')
                i(style="font-size:34px;").bi-bag.custom-icon
                span.num_products.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger.text-white.fw-bold(style="font-size:10px;")
                    | 10
        .collapse.navbar-collapse#navbarNav.text-white
            ul.navbar-nav.mx-auto
                li.nav-item
                    a.nav-link(href='/') Inicio
                li.nav-item
                    a.nav-link(href="/ddlv")
                        img(src="/public/images/ddlv/logo_ddlv.png" style="max-height:35px;" class="img-fluid")

                li.nav-item
                    a.nav-link(href='/blog') Blog
                li.nav-item
                    a.nav-link(href='/invitaciones') Invitaciones
                li.nav-item
                    a.nav-link(href='/products') Merch
                li.nav-item
                    a.nav-link(href='https://linktr.ee/hectorandrade' target="_blank") Redes

            .d-none.d-lg-block
                //a.bi-person.custom-icon.me-3(href='sign-in ')
                a.position-relative(href='/checkout')
                    i(style="font-size:34px;").bi-bag.custom-icon
                    span.num_products.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger.text-white.fw-bold(style="font-size:10px;")
                        | 10



