script(src='/public/js/jquery.min.js')
script(src='/public/js/bootstrap.bundle.min.js')
script(src='/public/js/Headroom.js')
script(src='/public/js/jQuery.headroom.js')
script(src='/public/js/slick.min.js')
script(src='/public/js/custom.js')
script(src='/public/js/jquery-3.6.4.min.js')
