script(src='/public/js/jquery.min.js')
script(src='/public/js/bootstrap.bundle.min.js')
script(src='/public/js/Headroom.js')
script(src='/public/js/jQuery.headroom.js')
script(src='/public/js/slick.min.js')
script(src='/public/js/custom.js')
script(src='/public/js/jquery-3.6.4.min.js')
script(src='/public/cdn/moment/moment.min.js')
script(src='/public/cdn/Notyf/notyf.min.js')
script(src='/public/cdn/holdon/holdOn.js')
script(src='/public/cdn/sweetAlert/sweetalert2.all.min.js')



