section.slick-slideshow


    if images
        each image in images
            .slick-custom
                img.img-fluid(src=image, alt)
                .slick-bottom
                    .container
                        .row
                            .col-lg-7.col-10
                                h2.display-4.slick-title
                                    | Fuego
                                    span.text-danger Mexicano
                                h6.slick-title
                                    | Web Oficial
                                div.my-2
                                    p.lead.text-white.mt-lg-3.mb-lg-5 Siempre mantén encendida la llama del Espíritu Santo
                                    button#moreInfo.btn.custom-btn Conoce Más