section.slick-slideshow
    .slick-custom
        img.img-fluid(src='/public/images/fuego/fuego_1.jpg', alt)
        .slick-bottom
            .container
                .row
                    .col-lg-7.col-10
                        h2.display-4.slick-title
                            | Fuego
                            span.text-danger Mexicano
                        h6.slick-title
                            | Web Oficial
                        div.my-2
                            p.lead.text-white.mt-lg-3.mb-lg-5 Siempre mantén encendida la llama del Espíritu Santo
                            a.btn.custom-btn(href='/Blog') Conoce Más
    .slick-custom
        img.img-fluid(src='/public/images/fuego/fuego_2.jpg', alt)
        .slick-bottom
            .container
                .row
                    .col-lg-7.col-10
                        h2.display-4.slick-title
                            | Fuego
                            span.text-danger Mexicano
                        h6.slick-title
                            | Web Oficial
                        div.my-2
                            p.lead.text-white.mt-lg-3.mb-lg-5 Siempre mantén encendida la llama del Espíritu Santo
                            a.btn.custom-btn(href='/Blog') Conoce Más
    .slick-custom
        img.img-fluid(src='/public/images/fuego/fuego_3.jpg', alt)
        .slick-bottom
            .container
                .row
                    .col-lg-7.col-10
                        h2.display-4.slick-title
                            | Fuego
                            span.text-danger Mexicano
                        h6.slick-title
                            | Web Oficial
                        div.my-2
                            p.lead.text-white.mt-lg-3.mb-lg-5 Siempre mantén encendida la llama del Espíritu Santo
                            a.btn.custom-btn(href='/Blog') Conoce Más
    .slick-custom
        img.img-fluid(src='/public/images/fuego/fuego_4.jpg', alt)
        .slick-bottom
            .container
                .row
                    .col-lg-7.col-10
                        h2.display-4.slick-title
                            | Fuego
                            span.text-danger Mexicano
                        h6.slick-title
                            | Web Oficial
                        div.my-2
                            p.lead.text-white.mt-lg-3.mb-lg-5 Siempre mantén encendida la llama del Espíritu Santo

                            a.btn.custom-btn(href='/Blog') Conoce Más