nav.navbar.navbar-expand-lg
    ul.navbar-nav
        li.nav-item.d-block.d-xl-none
            a.nav-link.sidebartoggler.nav-icon-hover#headerCollapse
                i.ti.ti-menu-2

    .navbar-collapse.justify-content-end.px-0#navbarNav
        ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
            button.btn.bg-white.text-black.fw-bold
                i.bi.bi-box-arrow-in-left.mx-1
                span Cerrar sesión