script(src='/public/js/jquery.min.js')
script(src='/public/js/bootstrap.bundle.min.js')


script(src='/public/js/sidebarmenu.js')
script(src='/public/js/app.min.js')
script(src='/panel_files/assets/libs/apexcharts/dist/apexcharts.js')
script(src='/public/js/simplebar.js')
script(src='/public/js/jquery-3.6.4.min.js')
script(src='/public/cdn/moment/moment.min.js')
script(src='/public/cdn/Notyf/notyf.min.js')
script(src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js')
